<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mall</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wangyuan.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCarServlet</display-name>
    <servlet-name>AddToCarServlet</servlet-name>
    <servlet-class>com.wangyuan.web.AddToCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCarServlet</servlet-name>
    <url-pattern>/AddToCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopServlet</display-name>
    <servlet-name>AddShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.AddShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopServlet</servlet-name>
    <url-pattern>/AddShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RigesterServlet</display-name>
    <servlet-name>RigesterServlet</servlet-name>
    <servlet-class>com.wangyuan.web.RigesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RigesterServlet</servlet-name>
    <url-pattern>/RigesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopServlet</display-name>
    <servlet-name>GetShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopServlet</servlet-name>
    <url-pattern>/GetShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCarServlet</display-name>
    <servlet-name>GetCarServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarServlet</servlet-name>
    <url-pattern>/GetCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServerServlet</display-name>
    <servlet-name>ListServerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServerServlet</servlet-name>
    <url-pattern>/ListServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShopServlet</display-name>
    <servlet-name>DeleteShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShopServlet</servlet-name>
    <url-pattern>/DeleteShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeShopServlet</display-name>
    <servlet-name>ChangeShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeShopServlet</servlet-name>
    <url-pattern>/ChangeShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRecomsServlet</display-name>
    <servlet-name>ListRecomsServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListRecomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRecomsServlet</servlet-name>
    <url-pattern>/ListRecomsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrdersServlet</display-name>
    <servlet-name>GetOrdersServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrdersServlet</servlet-name>
    <url-pattern>/GetOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecomServlet</display-name>
    <servlet-name>DeleteRecomServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteRecomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecomServlet</servlet-name>
    <url-pattern>/DeleteRecomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopBySidServlet</display-name>
    <servlet-name>GetShopBySidServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetShopBySidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopBySidServlet</servlet-name>
    <url-pattern>/GetShopBySidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShopServlet</display-name>
    <servlet-name>ShowShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShopServlet</servlet-name>
    <url-pattern>/ShowShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.wangyuan.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRecomServlet</display-name>
    <servlet-name>ShowRecomServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowRecomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRecomServlet</servlet-name>
    <url-pattern>/ShowRecomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodayTopServerServlet</display-name>
    <servlet-name>TodayTopServerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.TodayTopServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodayTopServerServlet</servlet-name>
    <url-pattern>/TodayTopServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeekTopCleanerServlet</display-name>
    <servlet-name>WeekTopCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.WeekTopCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekTopCleanerServlet</servlet-name>
    <url-pattern>/WeekTopCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRecomServlet</display-name>
    <servlet-name>GetRecomServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetRecomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecomServlet</servlet-name>
    <url-pattern>/GetRecomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrdersServlet</display-name>
    <servlet-name>ListOrdersServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrdersServlet</servlet-name>
    <url-pattern>/ListOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.wangyuan.web.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveHeadServlet</display-name>
    <servlet-name>SaveHeadServlet</servlet-name>
    <servlet-class>com.wangyuan.web.SaveHeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHeadServlet</servlet-name>
    <url-pattern>/SaveHeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListShopsServlet</display-name>
    <servlet-name>ListShopsServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListShopsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListShopsServlet</servlet-name>
    <url-pattern>/ListShopsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRecomServlet</display-name>
    <servlet-name>ChangeRecomServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeRecomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRecomServlet</servlet-name>
    <url-pattern>/ChangeRecomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrderServlet</display-name>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <url-pattern>/ChangeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecomServlet</display-name>
    <servlet-name>AddRecomServlet</servlet-name>
    <servlet-class>com.wangyuan.web.AddRecomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecomServlet</servlet-name>
    <url-pattern>/AddRecomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommentServlet</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>com.wangyuan.web.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHotsServlet</display-name>
    <servlet-name>ListHotsServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListHotsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHotsServlet</servlet-name>
    <url-pattern>/ListHotsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHotServlet</display-name>
    <servlet-name>ShowHotServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowHotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotServlet</servlet-name>
    <url-pattern>/ShowHotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHotServlet</display-name>
    <servlet-name>AddHotServlet</servlet-name>
    <servlet-class>com.wangyuan.web.AddHotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotServlet</servlet-name>
    <url-pattern>/AddHotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeHotServlet</display-name>
    <servlet-name>ChangeHotServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeHotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeHotServlet</servlet-name>
    <url-pattern>/ChangeHotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHotServlet</display-name>
    <servlet-name>DeleteHotServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteHotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHotServlet</servlet-name>
    <url-pattern>/DeleteHotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHotServlet</display-name>
    <servlet-name>GetHotServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetHotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHotServlet</servlet-name>
    <url-pattern>/GetHotServlet</url-pattern>
  </servlet-mapping>
</web-app>