<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mall</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wangyuan.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonServerServlet</display-name>
    <servlet-name>CommonServerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.CommonServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServerServlet</servlet-name>
    <url-pattern>/CommonServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopServlet</display-name>
    <servlet-name>AddShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.AddShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopServlet</servlet-name>
    <url-pattern>/AddShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RigesterServlet</display-name>
    <servlet-name>RigesterServlet</servlet-name>
    <servlet-class>com.wangyuan.web.RigesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RigesterServlet</servlet-name>
    <url-pattern>/RigesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsRigesterServlet</display-name>
    <servlet-name>IsRigesterServlet</servlet-name>
    <servlet-class>com.wangyuan.web.IsRigesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsRigesterServlet</servlet-name>
    <url-pattern>/IsRigesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServerServlet</display-name>
    <servlet-name>ListServerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServerServlet</servlet-name>
    <url-pattern>/ListServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShopServlet</display-name>
    <servlet-name>DeleteShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShopServlet</servlet-name>
    <url-pattern>/DeleteShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeShopServlet</display-name>
    <servlet-name>ChangeShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeShopServlet</servlet-name>
    <url-pattern>/ChangeShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCleanersServlet</display-name>
    <servlet-name>ListCleanersServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListCleanersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCleanersServlet</servlet-name>
    <url-pattern>/ListCleanersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrdersServlet</display-name>
    <servlet-name>GetOrdersServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrdersServlet</servlet-name>
    <url-pattern>/GetOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCleanerServlet</display-name>
    <servlet-name>DeleteCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCleanerServlet</servlet-name>
    <url-pattern>/DeleteCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServersByCleanerIdServlet</display-name>
    <servlet-name>GetServersByCleanerIdServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetServersByCleanerIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServersByCleanerIdServlet</servlet-name>
    <url-pattern>/GetServersByCleanerIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShopServlet</display-name>
    <servlet-name>ShowShopServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShopServlet</servlet-name>
    <url-pattern>/ShowShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.wangyuan.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCleanerServlet</display-name>
    <servlet-name>ShowCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCleanerServlet</servlet-name>
    <url-pattern>/ShowCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodayTopServerServlet</display-name>
    <servlet-name>TodayTopServerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.TodayTopServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodayTopServerServlet</servlet-name>
    <url-pattern>/TodayTopServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeekTopCleanerServlet</display-name>
    <servlet-name>WeekTopCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.WeekTopCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekTopCleanerServlet</servlet-name>
    <url-pattern>/WeekTopCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCleanerServlet</display-name>
    <servlet-name>GetCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.GetCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCleanerServlet</servlet-name>
    <url-pattern>/GetCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrdersServlet</display-name>
    <servlet-name>ListOrdersServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrdersServlet</servlet-name>
    <url-pattern>/ListOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.wangyuan.web.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveHeadServlet</display-name>
    <servlet-name>SaveHeadServlet</servlet-name>
    <servlet-class>com.wangyuan.web.SaveHeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHeadServlet</servlet-name>
    <url-pattern>/SaveHeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListShopsServlet</display-name>
    <servlet-name>ListShopsServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListShopsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListShopsServlet</servlet-name>
    <url-pattern>/ListShopsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCleanerServlet</display-name>
    <servlet-name>ChangeCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCleanerServlet</servlet-name>
    <url-pattern>/ChangeCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrderServlet</display-name>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <servlet-class>com.wangyuan.web.ChangeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <url-pattern>/ChangeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCleanerServlet</display-name>
    <servlet-name>AddCleanerServlet</servlet-name>
    <servlet-class>com.wangyuan.web.AddCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCleanerServlet</servlet-name>
    <url-pattern>/AddCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommentServlet</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>com.wangyuan.web.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
</web-app>