<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mall</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetExpendsServlet</display-name>
    <servlet-name>GetExpendsServlet</servlet-name>
    <servlet-class>com.memo.web.GetExpendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExpendsServlet</servlet-name>
    <url-pattern>/GetExpendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExploresServlet</display-name>
    <servlet-name>GetExploresServlet</servlet-name>
    <servlet-class>com.memo.web.GetExploresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExploresServlet</servlet-name>
    <url-pattern>/GetExploresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExpendServlet</display-name>
    <servlet-name>AddExpendServlet</servlet-name>
    <servlet-class>com.memo.web.AddExpendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExpendServlet</servlet-name>
    <url-pattern>/AddExpendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIncomeServlet</display-name>
    <servlet-name>AddIncomeServlet</servlet-name>
    <servlet-class>com.memo.web.AddIncomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIncomeServlet</servlet-name>
    <url-pattern>/AddIncomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemoServlet</display-name>
    <servlet-name>AddMemoServlet</servlet-name>
    <servlet-class>com.memo.web.AddMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemoServlet</servlet-name>
    <url-pattern>/AddMemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.memo.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.memo.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIncomesServlet</display-name>
    <servlet-name>GetIncomesServlet</servlet-name>
    <servlet-class>com.memo.web.GetIncomesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIncomesServlet</servlet-name>
    <url-pattern>/GetIncomesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMemosServlet</display-name>
    <servlet-name>GetMemosServlet</servlet-name>
    <servlet-class>com.memo.web.GetMemosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMemosServlet</servlet-name>
    <url-pattern>/GetMemosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataManagerServlet</display-name>
    <servlet-name>DataManagerServlet</servlet-name>
    <servlet-class>com.memo.web.DataManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataManagerServlet</servlet-name>
    <url-pattern>/DataManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginManageServlet</display-name>
    <servlet-name>LoginManageServlet</servlet-name>
    <servlet-class>com.memo.web.LoginManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManageServlet</servlet-name>
    <url-pattern>/LoginManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListExpendsServlet</display-name>
    <servlet-name>ListExpendsServlet</servlet-name>
    <servlet-class>com.memo.web.ListExpendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListExpendsServlet</servlet-name>
    <url-pattern>/ListExpendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListIncomesServlet</display-name>
    <servlet-name>ListIncomesServlet</servlet-name>
    <servlet-class>com.memo.web.ListIncomesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListIncomesServlet</servlet-name>
    <url-pattern>/ListIncomesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMemosServlet</display-name>
    <servlet-name>ListMemosServlet</servlet-name>
    <servlet-class>com.memo.web.ListMemosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMemosServlet</servlet-name>
    <url-pattern>/ListMemosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUsersServlet</display-name>
    <servlet-name>ListUsersServlet</servlet-name>
    <servlet-class>com.memo.web.ListUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersServlet</servlet-name>
    <url-pattern>/ListUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTypesServlet</display-name>
    <servlet-name>MyTypesServlet</servlet-name>
    <servlet-class>com.memo.web.MyTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTypesServlet</servlet-name>
    <url-pattern>/MyTypesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeServlet</display-name>
    <servlet-name>AddTypeServlet</servlet-name>
    <servlet-class>com.memo.web.AddTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeServlet</servlet-name>
    <url-pattern>/AddTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRevenueServlet</display-name>
    <servlet-name>AddRevenueServlet</servlet-name>
    <servlet-class>com.memo.web.AddRevenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRevenueServlet</servlet-name>
    <url-pattern>/AddRevenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTodayRevenueServlet</display-name>
    <servlet-name>GetTodayRevenueServlet</servlet-name>
    <servlet-class>com.memo.web.GetTodayRevenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTodayRevenueServlet</servlet-name>
    <url-pattern>/GetTodayRevenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMonthFeeServlet</display-name>
    <servlet-name>GetMonthFeeServlet</servlet-name>
    <servlet-class>com.memo.web.GetMonthFeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMonthFeeServlet</servlet-name>
    <url-pattern>/GetMonthFeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRevenusServlet</display-name>
    <servlet-name>AllRevenusServlet</servlet-name>
    <servlet-class>com.memo.web.AllRevenusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRevenusServlet</servlet-name>
    <url-pattern>/AllRevenusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeekOutServlet</display-name>
    <servlet-name>WeekOutServlet</servlet-name>
    <servlet-class>com.memo.web.WeekOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekOutServlet</servlet-name>
    <url-pattern>/WeekOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeekInServlet</display-name>
    <servlet-name>WeekInServlet</servlet-name>
    <servlet-class>com.memo.web.WeekInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekInServlet</servlet-name>
    <url-pattern>/WeekInServlet</url-pattern>
  </servlet-mapping>
</web-app>